text,button
{
	font-family: Verdana,Tahoma,arial;
	font-size: 12pt;
}
.pequenio{
font-family: Verdana,Tahoma,arial; 
font-size: 10pt; 
}
.normal{
font-family: Verdana,Tahoma,arial; 
font-size: 12pt; 
}
INPUT, TEXTAREA, SELECT {
font-family: Verdana,Tahoma,arial; 
font-size: 10px; 
text-transform:None;
} 
.phpmaker {
font-family: Verdana,Tahoma,arial; 
font-size: 9px; 
text-transform:None;
}


.encabezado {
background-color:#3a5fcd; 
color:white ; 
padding:10px; 
text-align: left;	
font-family: Verdana,Tahoma,arial; 
font-size: 9px; 
text-transform:None;
font-weight: bold
width: 20%;
} 

.encabezado_list { 
background-color:#3a5fcd; 
color:white ; 
vertical-align:middle;
text-align: center;
font-weight: bold;	
}

.tabla_borde{
background-color:#CCCCCC;
border-style:1px solid;
border-color:#000000;
border-collapse: colapse;
border-spacing:  1px;
width:100%;
}

.tabla_no_borde{
border-color:0px solid;
border-collapse: colapse;
width:100%;
}

.celda_normal{
border-style:2px solid;
border-color:#1111111;
font-family: Verdana,Tahoma,arial;
font-size: 9px;
text-transform:None;
}

.celda_no_borde{
border-style:0px solid;
border-collapse: collapse;
border-spacing:  0px;
font-family: Verdana,Tahoma,arial;
font-size: 9px;
text-transform:None;
}
