rect{
  fill:#ffffff;
  stroke-width:1;
  stroke:#000000;
}
ellipse{
  fill:#ffffff;
  stroke-width:1;
  stroke:#000000;
}
.task, .manualtask,.usertask, .tarea{
	background-color: rgba(217, 237, 247, 0.4); /*azul bootstrap #d9edf7*/                                          
}              
/*.endevent{
	background-color: rgba(255, 40, 40, 0.4); /*rojo 
}*/
.task_error{
	background-color: rgba(255, 40, 40, 0.4); /*rojo */
}
.task_ok{
	background-color: rgba(100, 255, 40, 0.4); /*verde #64FF28*/
}
.task_iniciada{
	background-color: rgba(255, 255, 40, 0.4); /*amarillo FFFF29*/
}
#diagram{
  overflow: scroll;
}