.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    background: #FFFFFF;
    border-bottom: 0px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 245px;
    padding: 0px 40px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  245px;
    height: 75px;
    top:0px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 75px;
    height: 75px;

}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #ffffff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 5 px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango img {
  top:35px;
  border:none;
}

.jcarousel-control {
    top:2px;
    margin-bottom: 0px;
    text-align: center;
}

.jcarousel-control a,span {
    font-size: 9px;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 0 5px 0;
    border: 1px solid #fff;
    color: #eee;
    background-color: #fffffff;
    font-weight: bold;
}

.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
    border: 1px solid #000;
}

#actual {
    -moz-border-radius: 5px;
    background: #FFFFFFF;
    font-size: 60%;
    text-decoration: none;
    padding: 5 0px;
    margin: 0 0 0px 0;
    top:2;
    border-top: 1px solid #666666;
    /*border-left: 1px solid #346F97;
    border-right: 1px solid #346F97;*/
    /*font-weight: bold;*/
    font-family: Verdana;
    width:600px;
    color:#000000;
}
