adicionar_vincular_doc_expedie.php
editar_vincular_doc_expedie.php
buscar_vincular_doc_expedie.php
buscar_vincular_doc_expedie2.php
mostrar_vincular_doc_expedie.php
detalles_mostrar_vincular_doc_expedie.php