temporal*/**
html2ps/**/cache
tcpdf/**/cache
html2ps_release/**/cache
phpqrcode/**/cache
roundcubemail/temp/**
roundcubemail/logs/**
errores.txt
.project
.settings/
pruebas_ruben
define.php
define_*.php
prueba_nuevo.php
email_aprobacion/define_remoto.php
phpqrcode/qr*.png-errors.txt
