temporal*/**
html2ps/**/cache
tcpdf/**/cache
phpqrcode/**/cache
roundcubemail/temp/**
roundcubemail/logs/**
errores.txt
.project
.vscode
.buildpath
.settings/
prueba_*
define.php
define_*.php
paginaadd.php
.DS_Store
