@CHARSET "ISO-8859-1";

#asignacion{
background-color: rgb(220,220,230);
width:100%;
float:left;
padding: 10px;
margin-right: 5px;
}

#calendario{
	background-color: rgb(220,220,240);
	width:50%;
	float:left;
	padding: 2px;
	
}
