<style type="text/css">
/* common styles */
html{
	height:100%;
}
.ad{
	margin-top:120px;
}
h1{
	font-size:0.9em;
}
a{
	color:#003399;
	font-size:11px;
	font-style:italic;
	font-weight: bold;
}
body {
/*	background-image:url(../imagenes/fondo_menu_sup.gif);
	background-position:top left;
	background-repeat: no-repeat;*/
/*	border:0;*/
	background-image:url(../imagenes/fondo_contenedor_menu.gif);
	background-repeat:repeat-x;
	background-position:top;
	padding:0;
	margin:0;
	font-family:verdana;
	font-size:9px;
	color: #000000;
	position:fixed;
}
table {
	border:0;
	padding:0;
	margin:0 0 1em;
	border-left:1px solid #555;
	border-top:1px solid #555;
	font-size:9px;
	float: left;
	color: #000000;
}
tr {border:0;padding:0;margin:0;}
td, th {border:0;padding:2px 6px;margin:0;border-right:1px solid #555;border-bottom:1px solid #555;}
td[axis='number'], td[axis='date'] {text-align:right;}
th {white-space:no-wrap;padding:2px 20px;}
tfoot td {border-top:1px solid #333;}
thead th {
	border-bottom:3px solid #333;
	background-color:transparent;
	font:italic bold small;
}
thead td {border-bottom:3px solid #333; background-color:transparent}
/*thead th {border-bottom:2px solid #333; background-image:url(../imagenes/encabezados.gif)}
thead td {border-bottom:2px solid #333; background-image:url(../imagenes/encabezados.gif)}*/
dl {margin:0 1em;padding:0;}
dl, p, form {font-size:9px;float:left;}
hr {clear:both;width:1px;height:0;border:0;border-bottom:1px solid #333;margin:0 0 1px;padding:0;}
/* odd-even styles */
.odd td {}
.even td {}
/* sortedtable styles */
.hover td {background-color:#00CC66;}
.sortedminus {background-color:#CCFFCC;}
.sortedplus {background-color:#00CC66;}
.selrow td {background-color:#00CC33;}
/* source-dest example styles */
#s {float:left;}
#d {float:left;clear:none;}
form#tabletool {margin:0;padding:0.5em;}
form#tabletool fieldset {width:8em;text-align:center;}
form#tabletool input {margin:0.5em;}
/*DE AQUI EN ADELANTE MODIFICO ESTO*/
#panel{
background:url(../imagenes/fondo_tabla.gif) no-repeat fixed;
width:600px;
height:450px;
overflow:auto;
border-left:#00CC33 solid;
border-top:#00CC33 solid;
border-width:thin;
float:left;
}
#panel_sup{
	background: url(../imagenes/superior_tabla.gif) no-repeat;
	width:600px;
	height:45px;
	border-right:#00CC33 solid;
	border-width:thin;
	background-position:bottom;
	float: inherit;
	/*overflow: visible;*/
}
#panel_inf{
	background:url(../imagenes/inferior_tabla.gif) no-repeat;
	width:600px;
	height:45px;
	border-width:thin;
	background-position:top;
	float: inherit;
	overflow: visible;
	border-left: #00CC33 solid;
}

	#dhtmlgoodies_xpPane{
		float: left;
		height:100%;
		width:200px;
		padding:0;
		margin:0;
	}
	#dhtmlgoodies_xpPane .dhtmlgoodies_panel{
		margin-left:1px;
		margin-right:1px;
		margin-top:1px;	
	}
	#dhtmlgoodies_xpPane .panelContent{
		background-position:bottom right;
		background-repeat:no-repeat;
		background-color: transparent;
		border-left:1px solid #1B3D87;
		border-bottom:1px solid #1B3D87;	
		padding-top:10px;
		padding-left:10px;
		padding-right:2px;	
		overflow:hidden;
		position:relative;
		clear:both;
	}
	#dhtmlgoodies_xpPane .panelContent div{
		font-size:9px;
		position:relative;
		height:150px;
	}
	#dhtmlgoodies_xpPane .dhtmlgoodies_panel .topBar{
		background-image:url(../imagenes/fondo_info_menu.gif);
		background-repeat:no-repeat;
		background-position:top right;
		height:25px;
		padding-right:5px;
		cursor:pointer;
		overflow:hidden;		
	}
	#dhtmlgoodies_xpPane .dhtmlgoodies_panel .topBar span{
		line-height:25px;
		vertical-align:middle;
		font-family:arial;
		font-size:11px;
		color:#FFFFCC;
		font-weight:bold;
		float:left;
		padding-left:5px;
	}
	#dhtmlgoodies_xpPane .dhtmlgoodies_panel .topBar img{
		float:right;
		cursor:pointer;
	}
	#otherContent{	/* Normal text content */
		float:left;	/* Firefox - to avoid blank white space above panel */
		padding-left:10px;	/* A little space at the left */
	}
	#explica{
	border:double #003399;
	height:100px;
	width:50px;
	background-color:#66CC99;
	font-size:9px;
	color:#000000;
	float:right;
	}
#panel_inf img {
	height: 40px;
	width: 40px;
	top: 10px;
}

/*HASTA AQUI*/
#panel_sup img {
	height: 40px;
	width: 40px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top:10px;
	vertical-align:10px;
}

#panel_sup img {
	height: 40px;
	width: 40px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top:10px;
	vertical-align:10px;
}
</style>
