adicionar_inventario_retirados.php
editar_inventario_retirados.php
buscar_inventario_retirados.php
buscar_inventario_retirados2.php
mostrar_inventario_retirados.php
detalles_mostrar_inventario_retirados.php