/* FORM CONTENT BOX */
#content {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px 20px;
}

#content_form_name {
    cursor: pointer;
}

.content-hover {
    border: 1px dashed #3a87ad !important;
    color: #3a87ad;
    background: #d9edf7;
    opacity: 0.5;
}

.content-hover legend {
    color: #3a87ad;
    border-color: -moz-use-text-color -moz-use-text-color #3a87ad;
}

.content-hover .element {
    border: 1px solid #d9edf7;
}

/* COMPONENTS */
.component {
    background: #fafafa !important;
    border: 1px solid #eee;
    cursor: move;
    border: 1px solid #fff;
}

.component:hover {
    background: #fafafa !important;
    border: 2px solid #eee;
}

.component-drag {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    background: #fff;
}

/* ELEMENTS */
.element {
    cursor: move;
    padding: 10px;
    border: 1px solid #fff;
}

.element:hover {
    background: #fafafa;
    border: 1px solid #eee;
}

.element-placeholder {
    border: 1px dashed #3a87ad;
    color: #3a87ad;
    background: #d9edf7;
    min-height: 50px;
    opacity: 0.5;
}

/* OPTION BOXES */
.options {
    display: none;
}
.accordion-heading .accordion-toggle {
    padding: 0px 15px;
}
.accordion-inner {
    padding: 5px;
}
.form-actions {
    padding: 5;
    margin-top: 0;
    margin-bottom: 0;
}

ul.fancytree-container {
    width: 100%;
    height: 80%;
    overflow: auto;
    position: relative;
    border: none !important;
}

.progress {
    margin-bottom: 0px;
}

#tabs_formulario {
    background: #eee;
    height: 44px;
    width: 900px;
}

#tabs_formulario,
#tabs_opciones {
    margin-bottom: 0px;
}

.tab-content {
    padding-top: 0px;
}

.nav-tabs > li > a {
    font-weight: bold;
    font-size: 120%;
    color: #444;
    font-size: 110%;
    background: #eee;
}

#nav-active {
    color: white;
    background: #49b0e8;
    font-size: 110%;
    font-weight: bold;
}

#droppable {
    width: 85%;
    padding: 0.5em;
    float: left;
    margin: 10px;
    margin-bottom: 20px;
    border: 1px dashed #48b0f7;
}
#droppable ul {
    list-style: none;
}

.container-fluid {
    background: white;
}

.section {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    word-wrap: none;
    background: #ffffff;
    text-align: center;
}

.input_buscar {
    width: 68%;
    display: inline-block;
    outline: none;
    border: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input_buscar:focus {
    width: 68%;
    display: inline-block;
    border: none;
    outline: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contenedor_campo_buscar {
    width: 90%;
    height: 44px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 20px;
}

#descripcion_formato {
    resize: none;
    height: 44px;
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#etiqueta_formato {
    resize: none;
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 44px;
}

input,
select {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#serie_idserie {
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 44px;
}

.title {
    font-size: 140%;
    color: #333;
    font-weight: bold;
    margin-bottom: 0px;
}
