#arbol {
    position: relative;
    top: -30px;
}

/* FORM CONTENT BOX */

#content {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px 20px;
}

#content_form_name {
    cursor: pointer;
}

.content-hover {
    border: 1px dashed #3a87ad !important;
    color: #3a87ad;
    background: #d9edf7;
    opacity: 0.5;
}

.content-hover legend {
    color: #3a87ad;
    border-color: -moz-use-text-color -moz-use-text-color #3a87ad;
}

.content-hover .element {
    border: 1px solid #d9edf7;
}

/* COMPONENTS */
.component {
    background: #f6f6f6 !important;
    cursor: move;
    height: 36px;
    margin: auto;
    width: 60%;
    padding-top: 12px;
}

.component:hover {
    background: #fafafa !important;
    border: 2px solid #eee;
}

.component-drag {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    background: #fff;
}

/* ELEMENTS */
.element {
    cursor: move;
    padding: 10px;
    border: 1px solid #fff;
}

.element:hover {
    background: #fafafa;
    border: 1px solid #eee;
}

.element-placeholder {
    border: 1px dashed #3a87ad;
    color: #3a87ad;
    background: #d9edf7;
    min-height: 50px;
    opacity: 0.5;
}

/* OPTION BOXES */
.options {
    display: none;
}
.accordion-heading {
    padding: 0px 15px;
}

.accordion-toggle {
    padding: 0px 50px;
}

.accordion-inner {
    padding: 5px;
}
.form-actions {
    padding: 5;
    margin-top: 0;
    margin-bottom: 0;
}

ul.fancytree-container {
    width: 100%;
    height: 80%;
    overflow: auto;
    position: relative;
    border: none !important;
}

.progress {
    margin-bottom: 0px;
}

#tabs_formulario {
    background: #eee;
    height: 44px;
    width: 900px;
}

#tabs_formulario,
#tabs_opciones {
    margin-bottom: 0px;
}

.tab-content {
    height: none;
    padding-top: 0px;
}

.nav-tabs > li > a {
    font-weight: bold;
    color: #444;
    font-size: 100%;
    background: #eee;
}

#nav-informacion {
    width: 100%;
    height: 100%;
    color: white;
    background: #49b0e8;
}

#labelGuardar {
    background: #48b0f7;
    color: #fff;
    margin: auto;
    color: white;
    cursor: pointer;
    height: 44px;
    width: 140px;
    padding-left: 32px;
    padding-top: 10px;
}

.guardarDisabled button {
    background: #959696;
}

#formulario-tab {
    position: relative;
    top: -20px;
}

#componentes_acciones {
    background: #f6f6f6;
    padding-bottom: 50px;
}

#droppable {
    position: relative;
    width: 100%;
    padding: 0.5em;
    float: left;
    margin: 0px;
    margin-bottom: 20px;
    background: transparent;
}
#droppable ul {
    list-style: none;
}

.container-fluid {
    background: white;
}

.section {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    word-wrap: none;
    background: #ffffff;
    text-align: center;
}

.input_buscar {
    width: 68%;
    display: inline-block;
    outline: none;
    border: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input_buscar:focus {
    width: 68%;
    display: inline-block;
    border: none;
    outline: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contenedor_campo_buscar {
    width: 90%;
    height: 44px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 20px;
}

#descripcion_formato {
    resize: none;
    height: 44px;
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#etiqueta_formato {
    resize: none;
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 44px;
}

input,
select {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#serie_idserie {
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 44px;
}

.title {
    font-size: 140%;
    color: #333;
    font-weight: bold;
    margin-bottom: 0px;
}

#list {
    position: relative;
    background: #fff;
    border: 6px dashed #eaf8ff;
    margin: auto;
    margin-top: 0px;
    top: 0px;
    padding-top: 10px;
}

#list_one {
    position: relative;
    background: transparent;
    margin: auto;
}

.ui-state-default {
    background: transparent;
    color: #333;
    border: 1px solid #eee;
    width: 100%;
}

.accordion .funciones {
    height: 36px;
    padding-top: 12px;
}

.accordion .funciones:hover {
    border: 2px solid #ddd;
    background: #eee;
}

.arbol_saia > .containerTableStyle {
    overflow: hidden;
}

ul.fancytree-container {
    overflow: auto;
    position: relative;
    border: none !important;
    outline: none !important;
}

span.fancytree-title {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
}

span.fancytree-checkbox.fancytree-radio {
    vertical-align: middle;
}

span.fancytree-expander {
    vertical-align: middle !important;
}

/*////////////////////////////////////////////////////////////////////////////////////////
/*  Estilos del dragdrop para campos del formato y elementos de diseño.  ///////////  */
/*///////////////////////////////////////////////////////////////////////////////////////*/

#contenedorComponentes {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 774px;
    background: #f7f7f7;
    margin-right: 0px;
}

#itemsComponentes {
    position: relative;
    border: 1px solid white;
    width: 100%;
    background: #f8f8f8;
}

#itemsComponentes h5 {
    position: relative;
    padding-left: 14px;
    color: #666;
}

#contenedorComponentes li {
    height: 64px;
    padding: 12px;
    padding-left: 20px;
    background: white;
    font-size: 100%;
    padding-top: 20px;
    color: #333;
}

#contenedorComponentes li:hover {
    background: #fafafa;
}

#itemsComponentes li {
    margin-right: 4px;
    height: 36px;
    padding: 6px;
    padding-left: 20px;
}

#itemsComponentes li:hover {
    font-size: 16px;
    background: #dfdfdf;
}

ul.sortable li {
    position: relative;
}

ul.boxy {
    list-style-type: none;
    padding: 4px 4px 0 4px;
    margin: 0px;
    width: 10em;
    font-size: 13px;
}
ul.boxy li {
    cursor: move;
    margin-bottom: 4px;
    padding: 2px 2px;
    border: 1px solid #ccc;
    background-color: #eee;
}

ul.boxier {
    list-style-type: none;
    padding: 4px 4px 0 4px;
    margin: 0px;
    width: 10em;
    font-size: 15px;
}
ul.boxier li {
    cursor: move;
    margin-bottom: 4px;
    padding: 2px 2px;
    border: 1px solid #ccc;
    background-color: #eee;
}

/*////////////////////////////////// Estilos de Editar_componente_generico ///////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

label {
    vertical-align: middle;
}

#tipo_campo {
    font-size: 30px;
}

#btnGuardar {
    background: #48b0f7;
    color: #fff;
    position: relative;
    left: 600px;
    margin-top: 100px;
    height: 40px;
}

#btnGuadar:hover {
    background: #2690d5;
    color: #fff;
}

#btnCancelar {
    color: #fff;
    position: relative;
    left: 598px;
    margin-top: 100px;
    cursor: pointer;
    z-index: 1;
    height: 40px;
}

.form-group label:not(.error) {
    text-transform: none;
    font-weight: bold;
    color: #626262;
    font-size: 12px;
}

.form-control {
    font-size: 12px;
    color: #626262;
}

#btn-cerrar {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #666;
    font-size: 150%;
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
}

#btn-cerrar:hover {
    color: #444;
}

.alpaca-container-label {
    font-size: 12px;
    font-weight: bold;
    color: #626262;
}

.glyphicon {
    font-size: 16px;
    color: #555;
}

.alpaca-message {
    color: red;
}

.glyphicon-exclamation-sign {
    color: red;
}

#funcion_list {
    width: 96%;
    background: #f8f8f8;
}

#funcion_list li {
    position: relative;
    list-style-type: none;
    height: 44px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
}

#funcion_list li:hover {
    font-size: 16px;
    background-color: #dfdfdf;
}

#tituloListado {
    position: relative;
    left: -10px;
    padding-left: 0px;
    cursor: default;
    font-weight: normal;
    color: #555;
    background: transparent;
}

.select2-container {
    height: 46px;
}
.select2-container .select2-selection.select2-selection--single {
    height: 46px;
    padding-top: 8px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 34px;
}

.select2-selection__rendered {
    padding-top: 10px;
}

#codigoSerieInput {
    background: #fff;
    height: 46px;
    width: 100%;
    position: relative;
    top: -2px;
}

#version {
    height: 44px;
    width: 100%;
}

#tipo_registro {
    width: 100%;
}

#descripcion_formato {
    padding-top: 10px;
}

.inputMargen {
    width: 50%;
    height: 44px;
}
