adicionar_macroproceso_calidad.php
editar_macroproceso_calidad.php
buscar_macroproceso_calidad.php
buscar_macroproceso_calidad2.php
mostrar_macroproceso_calidad.php
detalles_mostrar_macroproceso_calidad.php