adicionar_informe_contraloria.php
editar_informe_contraloria.php
buscar_informe_contraloria.php
buscar_informe_contraloria2.php
mostrar_informe_contraloria.php
detalles_mostrar_informe_contraloria.php
