adicionar_indicadores_calidad.php
editar_indicadores_calidad.php
buscar_indicadores_calidad.php
buscar_indicadores_calidad2.php
mostrar_indicadores_calidad.php
detalles_mostrar_indicadores_calidad.php
