adicionar_inventario_jubilados.php
editar_inventario_jubilados.php
buscar_inventario_jubilados.php
buscar_inventario_jubilados2.php
mostrar_inventario_jubilados.php
detalles_mostrar_inventario_jubilados.php