adicionar_respue_inte_clasificac.php
editar_respue_inte_clasificac.php
buscar_respue_inte_clasificac.php
buscar_respue_inte_clasificac2.php
mostrar_respue_inte_clasificac.php
detalles_mostrar_respue_inte_clasificac.php